* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    transition: 0.3s ease-in-out;
}

body {
    background: linear-gradient(135deg,#1d2671,#c33764);
    padding: 30px;
}

/* TITLE */
h1 {
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 8px rgb(8, 118, 173);
    padding: 20px;
    font-size: 40px;
}

/* GLASS EFFECT */
.filter-bar, .stat-box, table {
    background: rgba(255,255,255,0.15);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

/* FILTER BAR */
.filter-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    margin-bottom: 30px;
}

.filter-bar input,
.filter-bar select {
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}

/* BUTTON */
.filter-bar button {
    padding: 10px 25px;
    border: none;
    color: white;
    font-weight: bold;
    background: linear-gradient(45deg,#ff416c,#f90707);
    border-radius: 6px;
    cursor: pointer;
}

.filter-bar button:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg,#eb2805,#ff416c);
}

/* DASHBOARD STATS */
.stats {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.stat-box {
    padding: 20px;
    text-align: center;
    color: white;
    width: 150px;
}

.stat-box:hover {
    transform: translateY(-8px) scale(1.05);
    background: linear-gradient(45deg,#36d1dc,#5b86e5);
}

/* TABLE */
h2 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: #36d1dc 1px 1px 5px;
    font-size: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

th {
    padding: 12px;
    color: rgb(231, 232, 235);
    text-shadow: #36d1dc 1px 1px 5px;
    background: linear-gradient(45deg,#141e30,#243b55);
}

td {
    padding: 10px;
    text-align: center;
    color: rgb(16, 15, 16);
    font-weight: bold;
}

tr:hover {
    background: rgba(255,255,255,0.2);
    transform: scale(1.01);
}

/* STATUS */
.placed {
    color: #033c1b;
    font-weight: bold;
}

.notplaced {
    color: #e80606;
    font-weight: bold;
}

/* SEARCH HIGHLIGHT */
.highlight {
    background: linear-gradient(45deg,#f7971e,#00f7ff);
    color: black;
    font-weight: bold;
}
.top-header {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #1e293b;
    color: white;
    padding: 15px;
}

.logo {
    width: 150px;
    height: 150px;
    margin-right: 130px;
}
/* POPUP MESSAGE */
.popup {
    position: fixed;
    top: 30px;
    right: 30px;
    background: linear-gradient(45deg,#00b09b,#96c93d);
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 20px black;
    animation: popupFade 0.5s ease-in-out;
}

@keyframes popupFade {
    from {opacity:0; transform: translateY(-20px);}
    to {opacity:1; transform: translateY(0);}
}

/* PROGRESS BAR */
.progress-container {
    width: 80%;
    margin: auto;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
}

.progress-bar {
    height: 25px;
    background: linear-gradient(45deg,#00c6ff,#0072ff);
    text-align: center;
    color: white;
    line-height: 25px;
    font-weight: bold;
    animation: grow 2s;
}

@keyframes grow {
    from {width:0;}
    to {width:100%;}
}